*{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}



h1{
     text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(231, 92%, 42%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
     color: white;
     text-decoration: none;
     padding: 15px;
     display: block;
     text-align: center; 
}
.navbar a:hover{
    background-color: rgb(235, 8, 8);
}
.navbar li{
     float: left;
     display: inline-block;
}
main{
    font-size: 80px;
}

.con{
     font-size: 26px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.con1{
     font-size:26px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.con2{
     font-size: 60px;
     font-family:Verdana, Geneva, Tahoma, sans-serif
}

img{ 
   border: 6px solid #0b41d4;
}
.p{
   font-size: 70px;
}


footer{

margin-left: 7%;
    width: 70%;
    padding-left: 10%;
    display: grid;
    border: 10px solid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    font-weight: bolder;
    text-align: center;
}
